/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  font-weight: bold;
}


/* Logo Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  width: 100%;
  color: white;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.banner-content {
  display: flex;
  align-items: center;
  width: 960px;
  margin: auto;
}

header img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: .5rem;
}

/* Main Banner */

.banner-container {
  display: flex;
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
}

.new-arrival-container {
  width: 960px;
  margin: auto;
}

.new-arrival {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  width: 20rem;
}

.new-arrival h4 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.new-arrival h2 {
  font-size: 2rem;
  padding-top: 0.25rem;
}
