/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  font-weight: bold;
}


/* Logo Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  width: 100%;
  color: white;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.banner-content {
  display: flex;
  align-items: center;
  width: 960px;
  margin: auto;
}

header img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: .5rem;
}

/* Main Banner */

.banner-container {
  display: flex;
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
}

.new-arrival-container {
  width: 960px;
  margin: auto;
}

.new-arrival {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  width: 20rem;
}

.new-arrival h4 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.new-arrival h2 {
  font-size: 2rem;
  padding-top: 0.25rem;
}

/* Navigation */

.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: firebrick;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  color: white;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* Product Grid */

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: auto;
}

.product {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
  overflow: hidden;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product img {
  height: 9rem;
  width: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.product .item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Location */

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  margin: auto;
  padding-bottom: 4rem;
}

.info-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Footer */

footer {
  background-color: black
  color: white;
  height: 5rem;
  width: 100%;
  margin: auto;
}

.footer-content {
  width: 960px;
  margin: auto;
}
